<div class="user-details">
  <h2>Other Projects</h2>
</div>

<div class="small-projects-container">

  {% include small-project.html
    layout = "left"
    title =   "Optimisation Algorithms"
    image =   "optimisation-logo.png"
    link =    "https://github.com/aljrico/optimization-algorithms"
    content = "This repository contains a small set of algorithms developed with the aim rapidly minimising pre-defined error functions."
  %}
  
    {% include small-project.html
    layout = "left"
    badge = "wip"
    title =   "ML on X-Rays"
    image =   "lungs-logo.png"
    link =    ""
    content = "Web Application which interprets X-Ray results based on Machine Learning predictions."
  %}

</div>



