<div class="user-details">
  <h2>Other Projects</h2>
</div>


{% include big-project.html
  layout =  "right"
  title =   "The Alf Way to LaTeX (WIP)"
  image =   "alf-way-cover.jpg"
  link =    "https://aldomann.gitlab.io/the-way-to-latex/"
  content = "A while ago I decided to write my own book about LaTeX. My approach is not academic or technical, just a (I think) simple introduction to LaTeX, what it offers, and how you can use it in clever ways to ease your work (specially in Mathematics and Physics). Some of the best tips and black magic I use daily comes straight from <a href='https://tex.stackexchange.com/'>TeX - LaTeX Stack Exchange</a> (special mentions to the amazing <a href='https://tex.stackexchange.com/users/4427/egreg'>Enrico Gregorio</a>)."
%}
