<div class="user-details">
  <h2>Professional Projects</h2>
</div>

<br>

{% include big-project-narrow.html
  layout =  "left"
  title =   "Biodose Tools"
  image =   "biodose-tools.png"
  link =    "https://github.com/biodosimetry-uab/biodose-tools/"
  content = "In the frame of RENEB, we are developing Biodose Tools, an Open Source R Shiny application to help professionals and researchers on Biological Dosimetry to perform several computations and statistical analyses. We also aim to clarify and document the tests used and to propose those considered most appropriate."
%}
