<div class="user-details">
  <h2>R Packages</h2>
</div>

<div class="small-projects-container">
  {% include small-project.html
    layout = "right"
    title =   "harrypotter"
    image =   "harrypotter-hexagon.png"
    link =    "https://github.com/aljrico/harrypotter"
    content = "Set of colour palettes inspired in the Harry Potter universe."
  %}

  {% include small-project.html
    layout = "right"
    title =   "gameofthrones"
    image =    "got_logo.png"
    link =    "https://github.com/aljrico/gameofthrones"
    content = "Set of colour palettes inspired in the Game of Thrones universe."
  %}
  
    {% include small-project.html
    layout = "right"
    title =   "rfinance"
    image =    "rfinance_logo.png"
    link =    "https://github.com/aljrico/rfinance"
    content = "User-friendly API for financial analysis with R"
  %}

  {% include small-project.html
    layout = "left"
    title =   "planets"
    image =    "planets.png"
    link =    "https://github.com/aljrico/planets"
    content = "Very accessible data for all known planets"
  %}


</div>



