<div class="user-details">
  <h2>R Packages</h2>
</div>

<div class="small-projects-container">
  {% include small-project.html
    layout = "left"
    title =   "harrypotter"
    image =   "harrypotter-hexagon.png"
    link =    "https://github.com/aljrico/harrypotter"
    content = "Set of colour palettes inspired in the Harry Potter universe."
  %}

  {% include small-project.html
    layout = "left"
    title =   "gameofthrones"
    image =    "gameofthrones_logo2.png"
    link =    "https://github.com/aljrico/gameofthrones"
    content = "Set of colour palettes inspired in the Game of Thrones universe."
  %}

</div>



