<div class="user-details">
  <h2>Random Stuff</h2>
</div>

<div class="small-projects-container">

  {% include small-project.html
    title =   "zxcvbn test"
    image =   "zxcvbn-test.png"
    link =    "/random/zxcvbn"
    content = "zxcvbn is a password strength estimator inspired by password crackers. Forked from <a href='https://github.com/dropbox/zxcvbn'>Dropbox</a>."
  %}

  {% include small-project.html
    title =   "Name that color"
    image =   "name-that-color.png"
    link =    "/random/namethatcolour"
    content = "Find out the name of the closest matching color. Forked from <a href='http://chir.ag/projects/ntc/'>Chirag Mehta</a>."
  %}

  {% include small-project.html
    title =   "2048 game"
    image =   "2048-game.png"
    link =    "/random/2048"
    content = "A small clone of 1024, based on Saming's 2048 (also a clone). Forked from <a href='https://github.com/gabrielecirulli/2048'>Gabriele Cirulli</a>."
  %}

</div>

<div class="small-projects-container">
  {% include small-project.html
    title =   "Mario Sequencer"
    image =   "mario-sequencer.png"
    link =    "/random/mariosequencer"
    content = "Web Edition of the good old Mario Sequencer. Forked from <a href='https://github.com/minghai/MarioSequencer'>Narumi Katoh</a>."
  %}

  {% include small-project.html
    title =   "Pokemixer"
    image =   "pokemixer.png"
    link =    "/random/pokemixer"
    content = "A simple website that replaces heads and swaps colors in Pokemon sprites. Forked from <a href='https://www.alexonsager.net/'>Alex Onsager</a>."
  %}
</div>
