<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      <header class="page-header">
        {% include header.html %}
      </header>
      <section id="about">
        {% include about.html %}
      </section>
      <section id="projects">
        {% include r-packages.html %}
        {% include git-repos.html %}
      </section>
    <!--  <section id="projects">
        {% include projects.html %}
      </section>
      

      <section id="projects">
        {% include other-projects.html %}
      </section>
      <section id="small-projects">
        {% include random-stuff.html %}
      </section>
      
            -->
      {{ content }}
      {% include footer.html %}
  </body>
